<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>名师团队Our Services</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
        at.
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/主任.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">张老师Business Application</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/某老师a.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">陈老师Custom System Integration</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.</p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/某老师b.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">唐老师Database Administration</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/某老师c.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">其他老师Custom Mobile Application</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/某老师d.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">其他老师Custom Mobile Application</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
