<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>名师团队</h2>
      <p>由拥有德国理工科排名第一的慕尼黑工业大学硕士学位的王煜主任带队，我们的教师团队致力于打磨最精品的课程
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/主任.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">王煜</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description"> 慕里黑工业大学 (德国排名第一) 硕士</p>
            <p class="m-0 description">数学与应用数学
            </p>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/某老师a.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">粱春燕</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">重庆师范大学</p>
            <p class="m-0 description">食品质量与安全专业</p>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/某老师b.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">陈程</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">江苏科技大学</p>
            <p class="m-0 description">电子信息科学与技术专业
            </p>

          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/某老师c.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">周琳</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">重庆理工大学
            </p>
            <p class="m-0 description">生物工程专业
            </p>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <img mat-card-image src="assets/images/某老师d.jpg">
          <div fxLayout="column">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">孙维林</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">重庆大学
            </p>
            <p class="m-0 description">计算机科学与技术专业
            </p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
