<header id="home-header" [ngClass]="{'header-fixed': isFixed}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="home-logo mr-1">
          <a href="/"><img src="assets/images/log_and_name.PNG" alt="company logo"></a>
      </div>
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    </div>
    <div fxFlex class="top-menu">
      <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="portfolio-section"><strong>精品课程 Classes</strong></button>
      <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="service-section"><strong>教师团队 Team</strong></button>
      <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="pricings-section"><strong>诚聘英才 Careers</strong></button>
      <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="home-footer"><strong>联系我们 Contact</strong></button>
      <span fxFlex></span>
    </div>
  </div>
</header>
