<footer class="home-footer" id="home-header">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="75" class="footer-box">
          <h4 class="footer-box-title"><b>关于我们</b></h4>
          <p>重庆归纳教育科技有限公司位于重庆市南岸区上海城，前身为任才教育集团，立足于重庆线下教育培训行业多年，学员遍布重庆各个地区，深受学员和家长信任和欢迎
          </p>
          <p>
            归纳在线为归纳教育公司的线上品牌，定位于重庆本土在线教育平台，专注于在线互动直播小班课，利用国内顶尖的线上教学平台，还原线下教学场景，个性化学习方案，分层级教学，让学习更高效。
          </p>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>联系我们</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>电子邮件</b></h5>
              <p matLine> guinajiaoyu@abc.com </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                <h5 matLine><b>地址</b></h5>
                <p matLine>重庆, 南岸区 </p>
                <p matLine>ABC 街道 1234号  </p>
              </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </section>
</footer>
